---
import { ViewTransitions } from 'astro:transitions';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&family=Inter:wght@300;400;500;600;700&display=swap">
    </GoogleFontsOptimizer>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return 'dark';
      })();
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
    <ViewTransitions />
  </head>

  <body class="font-body text-base antialiased flex flex-col min-h-screen bg-surface-primary text-foreground-primary transition-colors duration-300 font-normal">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --surface-primary: #f4f2ff;
    --surface-secondary: transparent;
    --surface-tertiary: #dedaf7;
    --surface-inverse: #131030;
    
    --foreground-primary: #131030;
    --foreground-secondary: #4a4568;
    --foreground-muted: #8882a6;
    --foreground-inverse: #ffffff;
    
    --border-primary: #d2cdea;
    --border-subtle: #e4e0f6;
    
    --accent-primary: #635BFF;
    --accent-secondary: #8A3A00;
    --accent-tertiary: #FF006E;
    
    --font-serif: "Playfair Display", serif;
    --font-sans: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
  }

  html.dark {
    --surface-primary: #0d0a24;
    --surface-secondary: #17143a;
    --surface-tertiary: #211e4f;
    --surface-inverse: #08061b;
    
    --foreground-primary: #f0f4ff;
    --foreground-secondary: #bac7e3;
    --foreground-muted: #5c6d8c;
    --foreground-inverse: #ffffff;
    
    --border-primary: #1f244c;
    --border-subtle: #1f244c;
    
    --accent-primary: #948cff;
    --accent-secondary: #ffb13b;
    --accent-tertiary: #ff52a3;
  }

  .card-image:after {
    content: "";
    display: block;
    padding-bottom: 83%;
  }
</style>
